/*
Primary Navigation
 */
.main-navigation {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		margin: 0;
		display: inline-block;
		position: relative;
		padding: 0;
		display: block;
	}
	.current_page_item > a {
		font-weight: 700;
	}
	@media (min-width:$screen-md) {
		 ul ul {
			position: absolute;
			display: none;
			left: 0;
			top: 100%;
			min-width: 150px;
			background: #fdfdfd;
			z-index: 100;
		}
		 ul ul ul {
			left: 100%;
			top: 0;
		}
		 li {
			display: inline-block;
			padding: 8px 15px;
		}
		 li:hover > ul {
			display: block;
		}
	}
}